[submodule "third_party/litex_cpu_lm32"]
	path = third_party/litex_cpu_lm32
	url = https://github.com/m-labs/lm32.git
[submodule "third_party/litex_cpu_mor1kx"]
	path = third_party/litex_cpu_mor1kx
	url = https://github.com/openrisc/mor1kx.git
[submodule "third_party/litex_compiler_rt"]
	path = third_party/litex_compiler_rt
	url = https://git.llvm.org/git/compiler-rt
[submodule "third_party/litex_cpu_picorv32"]
	path = third_party/litex_cpu_picorv32
	url = https://github.com/cliffordwolf/picorv32
[submodule "third_party/litex_tapcfg"]
	path = third_party/litex_tapcfg
	url = https://github.com/enjoy-digital/tapcfg
[submodule "third_party/litex_cpu_vexriscv"]
	path = third_party/litex_cpu_vexriscv
	url = https://github.com/enjoy-digital/VexRiscv-verilog.git
[submodule "third_party/litex_cpu_minerva"]
	path = third_party/litex_cpu_minerva
	url = https://github.com/lambdaconcept/minerva
[submodule "third_party/litex_cpu_rocket"]
	path = third_party/litex_cpu_rocket
	url = https://github.com/enjoy-digital/rocket-litex-verilog
[submodule "third_party/litex_cpu_microwatt"]
	path = third_party/litex_cpu_microwatt
	url = https://github.com/antonblanchard/microwatt
[submodule "third_party/litex_cpu_blackparrot"]
	path = third_party/litex_cpu_blackparrot
	url = https://github.com/enjoy-digital/black-parrot.git
[submodule "litex_cpu_vexriscv"]
	shallow = true
[submodule "litex_cpu_rocket"]
	shallow = true
[submodule "litex_cpu_microwatt"]
	shallow = true
[submodule "litex_cpu_blackparrot"]
	shallow = true
[submodule "litex_cpu_lm32"]
	shallow = true
[submodule "litex_cpu_mor1kx"]
	shallow = true
[submodule "litex_cpu_minerva"]
	shallow = true
[submodule "litex_compiler_rt"]
	shallow = true
[submodule "litex_tapcfg"]
	shallow = true
[submodule "litex_tar"]
	shallow = true
