__pycache__
build/*
*.o
*.d
*.a
*.elf
*.bin
*.fbi
tools/flterm
tools/mkmscimg
tools/byteswap
software/include/generated/*.h
software/include/generated/*.ld
software/include/generated/*.mak
software/videomixer/dvisampler0.c
software/videomixer/dvisampler0.h
software/videomixer/dvisampler1.c
software/videomixer/dvisampler1.h
