{{ generated_banner }}

{% if with_access_functions %}
#include <generated/soc.h>
#include <system.h>
{% endif %}

#ifndef __GENERATED_CSR_H
#define __GENERATED_CSR_H

{% if with_access_functions %}
#include <stdint.h>
#ifndef CSR_ACCESSORS_DEFINED
#include <hw/common.h>
#endif /* ! CSR_ACCESSORS_DEFINED */
{% endif %}

#ifndef CSR_BASE
#define CSR_BASE {{ csr_base | hex }}L
#endif

{% for name, region in regions.items() %}
/* {{ name }} */
{% set ns = namespace(origin=region.origin-csr_base) %}
#define CSR_{{ name | upper}}_BASE (CSR_BASE + {{ ns.origin | hex }}L)
{% if region.obj.__class__.__name__ != "Memory" %}
{% for csr in region.obj %}
{% set reg_name = name + "_" + csr.name.lower() %}
{% set nwords = (csr.size + region.busword - 1)//region.busword %}
{% set reg_base = ns.origin %}
{% set ns.origin = ns.origin+alignment//8*nwords %}
	{% include 'csr_readwrite.h.jinja' %}
{% if ( csr | hasattr("fields")) %}
{% for field in csr.fields.fields %}
{% include 'csr_field.h.jinja' %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

#endif /* ! __GENERATED_CSR_H */
