{{ generated_banner }}

#ifndef __GENERATED_GIT_H
#define __GENERATED_GIT_H

#define MIGEN_GIT_SHA1 "{{ migen_git_revision }}"
#define LITEX_GIT_SHA1 "{{ litex_git_revision }}"

#endif /* ! __GENERATED_GIT_H */
