{{ generated_banner }}

#ifndef __GENERATED_SOC_H
#define __GENERATED_SOC_H

{% for name, value in constants.items() %}
{% if value is none %}
#define {{ name }}
{% else %}
{% if value is string %}
{% set value = "\"{}\"".format(value) %}
{% set ctype = "const char *" %}
{% else %}
{% set value = value | int %}
{% set ctype = "int" %}
{% endif %}
#define {{ name }} {{ value }}
{% if with_access_functions %}
static inline {{ ctype }} {{ name | lower }}_read(void) {
	return {{ value }};
}
{% endif %}
{% endif %}
{% endfor %}

#endif /* ! __GENERATED_SOC_H */
