# debug_level 1
# log_output openocd_tunneled.log

set _CHIPNAME riscv

target create $_CHIPNAME.cpu.0 riscv -coreid 0 -chain-position xc7.tap

ftdi tdo_sample_edge falling

riscv use_bscan_tunnel 6 1

# riscv set_mem_access sysbus

targets $_CHIPNAME.cpu.0
init

reset halt


